.carousel {
  position: relative; }

.carousel.pointer-event {
  touch-action: pan-y; }

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden; }
  .carousel-inner::after {
    display: block;
    clear: both;
    content: ""; }

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .carousel-item {
      transition: none; } }

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block; }

/* rtl:begin:ignore */
.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(100%); }

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: translateX(-100%); }

/* rtl:end:ignore */
.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none; }

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  z-index: 1;
  opacity: 1; }

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s; }
  @media (prefers-reduced-motion: reduce) {
    .carousel-fade .active.carousel-item-start,
    .carousel-fade .active.carousel-item-end {
      transition: none; } }

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease; }
  @media (prefers-reduced-motion: reduce) {
    .carousel-control-prev,
    .carousel-control-next {
      transition: none; } }
  .carousel-control-prev:hover, .carousel-control-prev:focus,
  .carousel-control-next:hover,
  .carousel-control-next:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.9; }

.carousel-control-prev {
  left: 0; }

.carousel-control-next {
  right: 0; }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%; }

/* rtl:options: {
  "autoRename": true,
  "stringMap":[ {
    "name"    : "prev-next",
    "search"  : "prev",
    "replace" : "next"
  } ]
} */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e"); }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); }

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none; }
  .carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease; }
    @media (prefers-reduced-motion: reduce) {
      .carousel-indicators [data-bs-target] {
        transition: none; } }
  .carousel-indicators .active {
    opacity: 1; }

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center; }

.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
  filter: invert(1) grayscale(100); }

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #000; }

.carousel-dark .carousel-caption {
  color: #000; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  color: #000; }

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem; }

.imgCover {
  width: 100%;
  object-fit: cover;
  object-position: center center; }

.imgOscuro {
  filter: brightness(90%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center; }

.contenedorAncho {
  width: 95%;
  max-width: 110rem;
  margin: 0 auto; }

.tituloSeccion {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 5.1rem;
  display: inline-block;
  position: relative;
  padding: 1.5rem 0; }

.navegacion {
  width: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 99;
  position: fixed; }
  .navegacion .menuHamburguesa {
    display: none; }
  .navegacion .navegacionAncho {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .navegacion .navegacionLogo {
    display: flex;
    align-items: center; }
    .navegacion .navegacionLogo svg {
      height: 8rem; }
    .navegacion .navegacionLogo p {
      font-size: 1.4rem;
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: 0.2rem;
      padding-left: 2rem;
      color: #000;
      font-weight: 400; }
  .navegacion .navegacionEnlaces {
    display: flex;
    width: 43rem;
    justify-content: space-between; }
    .navegacion .navegacionEnlaces a {
      font-weight: 500;
      font-size: 1.8rem;
      font-family: "Roboto", sans-serif;
      color: #8B8B8B;
      position: relative;
      padding: 1rem 0; }
    .navegacion .navegacionEnlaces .sectorActivo:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 4.2rem;
      height: 0.2rem;
      background-color: #3D7A5D; }
    .navegacion .navegacionEnlaces a:hover:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 4.2rem;
      height: 0.2rem;
      background-color: #3D7A5D; }
    .navegacion .navegacionEnlaces a:hover, .navegacion .navegacionEnlaces .sectorActivo {
      color: #3D7A5D; }

.bootstrapCarousel {
  position: relative;
  margin-top: 10rem; }
  .bootstrapCarousel .imgCarousel {
    height: 92.5vh; }
  .bootstrapCarousel .tituloPresentacion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 83rem; }
    .bootstrapCarousel .tituloPresentacion h1 {
      font-family: 'Roboto', sans-serif;
      text-align: center;
      font-weight: 700;
      color: #fff;
      font-size: 7.2rem;
      letter-spacing: 0.43px;
      line-height: 1;
      margin: 0; }
    .bootstrapCarousel .tituloPresentacion p {
      font-size: 1.8rem;
      font-weight: 500;
      color: #fff;
      text-align: center;
      padding-top: 2rem; }

@media (max-width: 900px) {
  .navegacion .navegacionEnlaces {
    visibility: hidden;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: .4s;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.932); }
    .navegacion .navegacionEnlaces a {
      padding: 2rem 0; }
  .navegacion .menuOpen {
    visibility: visible;
    transform: translateX(0%); }
  .navegacion .menuHamburguesa {
    display: inline-block;
    cursor: pointer;
    transition: 0.2s; }
    .navegacion .menuHamburguesa img {
      width: 4.7rem; }
  .navegacion .leftMenu {
    transform: translateX(-100%);
    transition: 0.5s; } }

@media (max-width: 720px) {
  .bootstrapCarousel .tituloPresentacion h1 {
    font-size: 4rem; }
  .navegacion .navegacionLogo p {
    font-size: 1.2rem; }
  .navegacion .navegacionLogo svg {
    width: 6rem; } }

.relativeId {
  position: relative; }
  .relativeId .enlaceId {
    position: absolute;
    top: -5%;
    left: 0;
    opacity: 0; }

.nosotros {
  padding: 4.5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 11.5rem;
  row-gap: 5rem; }
  .nosotros .tituloNosotros {
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    font-size: 5.1rem;
    display: inline-block;
    position: relative;
    padding: 1.5rem 0; }
    .nosotros .tituloNosotros:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 15rem;
      height: 0.2rem;
      background-color: #3D7A5D; }
  .nosotros .textoNosotros {
    font-family: 'Source Serif Pro', serif;
    color: #737373;
    line-height: 2.6rem;
    padding: 4rem 0; }
  .nosotros .posBoton {
    margin: 0 7rem; }
  .nosotros .nosotrosImg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.4rem;
    row-gap: 2.4rem; }
    .nosotros .nosotrosImg .imgCover {
      height: 20rem; }
    .nosotros .nosotrosImg .imgCover:last-child {
      grid-column: 1/3; }

@media (max-width: 1050px) {
  .nosotros {
    column-gap: 2rem; } }

@media (max-width: 720px) {
  .nosotros {
    margin: 0 auto;
    grid-template-columns: 1fr; }
    .nosotros .infoNosotros {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .nosotros .tituloNosotros {
      text-align: center; } }

@media (max-width: 420px) {
  .nosotros {
    display: block; }
    .nosotros .tituloNosotros {
      font-size: 4rem; }
    .nosotros .nosotrosImg {
      column-gap: 0.5rem;
      row-gap: 1rem;
      margin-top: 5rem; }
    .nosotros .nosotros {
      width: 100%; } }

.boton {
  border: none;
  background-color: #3D7A5D;
  color: #fff;
  padding: 1.5rem 5rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.64px;
  margin: 0 auto; }

.seccionServicios {
  width: 100%;
  background-color: #d0d0d0; }
  .seccionServicios .serviciosGrupo {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 5rem;
    margin-top: 7rem; }
    .seccionServicios .serviciosGrupo .filaServicios {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .seccionServicios .serviciosGrupo .filaServicios p {
        font-weight: 500;
        font-size: 1.8rem;
        color: #3E3E3E;
        padding-top: 3rem;
        text-align: center; }
  .seccionServicios .serviciosContenido {
    padding: 10rem 0; }
  .seccionServicios h2 {
    font-size: 5.1rem;
    font-weight: 700;
    text-align: center;
    font-family: "Roboto", sans-serif;
    position: relative; }
    .seccionServicios h2:after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 15rem;
      height: 0.2rem;
      background-color: #3D7A5D;
      bottom: -2rem; }
  .seccionServicios .redondoServicio {
    background-color: #fff;
    width: 13.5rem;
    height: 13.5rem;
    border-radius: 50%;
    position: relative; }
    .seccionServicios .redondoServicio .svgServicios {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 9rem;
      fill: #3D7A5D; }
    .seccionServicios .redondoServicio .w80 {
      width: 8rem; }

@media (max-width: 900px) {
  .seccionServicios .serviciosGrupo {
    grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
    row-gap: 2rem; } }

@media (max-width: 420px) {
  .seccionServicios h2 {
    font-size: 4rem; } }

@media (max-width: 300px) {
  .seccionServicios .serviciosGrupo {
    display: block; }
    .seccionServicios .serviciosGrupo .filaServicios {
      margin-top: 2rem; } }

.tituloVentaja {
  display: block;
  text-align: center;
  padding-top: 5.2rem; }
  .tituloVentaja:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 15rem;
    height: 0.2rem;
    background-color: #3D7A5D;
    bottom: -1rem; }

.seccionVentaja {
  background-color: #ebebeb; }

.ventajas {
  display: grid;
  column-gap: 3rem;
  row-gap: 6rem;
  padding: 6rem 0;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr)); }
  .ventajas .ventajasGrupo {
    display: flex;
    justify-content: space-between; }
  .ventajas svg {
    fill: #3D7A5D;
    width: 5.1rem;
    height: 5.1rem; }
  .ventajas p {
    padding-left: 2rem;
    letter-spacing: 0.03rem;
    line-height: 2.5rem; }

@media (max-width: 720px) {
  .ventajas {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 2rem; }
    .ventajas p {
      font-size: 1.4rem; } }

@media (max-width: 480px) {
  .ventajas {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 3rem; }
    .ventajas p {
      font-size: 1.4rem; } }

@media (max-width: 720px) {
  .tituloVentaja {
    font-size: 4rem; } }

.seccionObras {
  padding: 7rem 0; }
  .seccionObras .tituloObras {
    width: 100%;
    text-align: center; }
    .seccionObras .tituloObras:after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 15rem;
      height: 0.2rem;
      background-color: #3D7A5D;
      bottom: -1rem; }

.contenedorObras {
  width: 120rem;
  max-width: 90%;
  margin: 0 auto; }

.obrasImg {
  margin-top: 6.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.5rem;
  row-gap: 2.5rem; }
  .obrasImg .imgObra {
    height: 26rem;
    max-height: 100%;
    cursor: pointer;
    position: relative; }
    .obrasImg .imgObra img {
      height: 100%; }
  .obrasImg .imgHover {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: transparent linear-gradient(180deg, #48484800 0%, #000000C4 70%); }
    .obrasImg .imgHover p {
      color: #fff;
      font-size: 2.8rem;
      padding-left: 4rem;
      margin-top: 2.5rem; }
  .obrasImg .imgObra:hover .imgHover {
    visibility: visible;
    opacity: 1;
    transition: .3s; }

@media (max-width: 900px) {
  .obrasImg {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 1rem;
    row-gap: 1rem; }
    .obrasImg .imgHover {
      visibility: visible;
      opacity: 1; } }

.fondoImg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999; }
  .fondoImg .cerrar {
    position: absolute;
    top: 10%;
    left: 85%;
    background-color: #3D7A5D;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    position: relative;
    cursor: pointer;
    z-index: 99999; }
    .fondoImg .cerrar p {
      font-size: 2rem;
      color: #fff;
      font-weight: 700;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .fondoImg .imgGaleria {
    height: 85%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

@media (max-width: 1000px) {
  .fondoImg .imgGaleria {
    width: 90%;
    height: auto; } }

@media (max-width: 420px) {
  .seccionObras .tituloObras {
    font-size: 4rem; } }
