//Variables;
$col-fondo: #fff;
$col-pri: #3D7A5D;

$fue-pri: 'Roboto', sans-serif;
$fue-medium: 500;
$fue-bold: 700;

//Posicionamiento y ancho, ya definido. Falta poner el posicionamiente del BOTTOM. Puede poner como valor 0, para guiarse a posicionar
@mixin lineaVerde {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 15rem;
        height: 0.2rem;
        background-color: $col-pri;
}



//Globales
*{
   box-sizing: border-box;
   padding: 0;
   margin: 0; 
}

html{
    font-size: 62.5%;
    scroll-behavior:smooth
}

a{
    text-decoration: none;
    color: #000;
}

p{
    font-family: $fue-pri;
    font-size: 1.6rem;
}

.imgCover{
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.imgOscuro{
    filter: brightness(90%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.contenedorAncho{
    width: 95%;
    max-width: 110rem;
    margin: 0 auto;
}

//Titulos para las secciones
.tituloSeccion{
    font-weight: $fue-bold;
    font-family: $fue-pri;
    font-size: 5.1rem;
    display: inline-block;
    position: relative;
    padding: 1.5rem 0;
}



